doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Document
		//- Иконка нашего сайта
		//- link(rel='shortcut icon', type='im/x-icon', href='favicon.ico')
		//- Сбрасываем стандартные стили браузера
		link(rel="stylesheet", href="libs/normalize.css")
		//- Подключаем шрифты
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i&display=swap" rel="stylesheet">
		//- Подключаем сторонние библиотеки
		link(rel="stylesheet", href="libs/bootstrap-4-1-0/css/bootstrap-grid.min.css")
		//- Подключаем свой файл со стилями
		link(rel='stylesheet', href='css/main.css')
		//- Подключаем скрипты
		script(src='js/main.js')
	body
		include ../sections/header.pug
		.container
			.row





